.invoice-container {
    margin: auto;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 70px 0px;
    
    
}