.app-container {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background: #e0e0e0;
    height: 1080px;
    padding-top: 10px;

    min-height: 100%;
  min-width: 100%;
}

.app-container>.nav-menu {
    margin: 20px;
}

.error {
    margin: auto;
    background-color: rgb(240, 236, 9);
    width: 500px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: large;

}

.heading {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;
    height: 50px;
    text-align: center;
}