.app-container {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(180, 220, 255);
    height: 1080px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.app-container>.nav-menu {
    margin: 20px;
}

.error {
    margin: auto;
    background-color: rgb(240, 236, 9);
    width: 500px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: large;

}

.heading {
    color: rgb(9, 104, 187);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(24, 132, 175, 0.705);
    background-color: rgb(202, 226, 247);
}