.app-container {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-container>.nav-menu {
    margin: 20px;
}

.error {
    margin: auto;
    background-color: rgb(240, 236, 9);
    width: 500px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: large;

}