.invoices-container>table {
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;
    text-align: center;
    padding: 10px 10px;
    border-spacing: 7px;

}

tr,td {
    border: 1px solid rgb(23, 125, 221);
    border-radius: 5px;
}

.invoices-container>.row{
    height: 50px;
  width: 1000px;
  margin: auto;
}

.invoices-container>.row>.row1{
    float: left;
}

.invoices-container>.row>.row2{
    float: right;
}

