<div class="invoices-container">
    <h1>Pending Invoices of {{invoices[0].retailer}}</h1>
    <div class="row">
        <div class="row1">
    <table *ngIf="invoices.length">
        <thead>
            <tr>
                <td>ID</td>
                <td>Retailer</td>
                <td>Due Date</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoices">
                <td>
                    {{invoice._id}}
                </td>
                <td>
                    {{invoice.retailer}}
                </td>
                <td>
                    {{invoice.dueDate | date}}
                </td>
                <td>
                    {{invoice.amount}}
                </td>
                <td>
                    <a routerLink="/invoice/{{invoice.retailer}}/{{invoice._id}}">View Invoice</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="row2">
    <router-outlet></router-outlet>
</div>
</div>
</div>



