<div class="summary">
    <div *ngIf="!formDisplayed, else invoiceForm"><button (click)="onFormClosed(true)">Add Invoice</button></div>

    <ng-template #invoiceForm>
        <app-invoice-form (formClosed)="onFormClosed($event)"></app-invoice-form>
    </ng-template>


    <div>Total Sales made is : {{details?.totalSales}}......with number : {{details?.totalSalesCount}}</div><a routerLink="/invoice/all">Get Details</a> <br> 
    Total Paid is : {{details?.totalPaid}}......with number : {{details?.totalPaidCount}}<a routerLink="/invoice/paid">Get Details</a><br>
    Total Pending is : {{details?.totalPending}}......with number : {{details?.totalPendingCount}}<a routerLink="/invoice/unpaid">Get Details</a>
</div>
<router-outlet></router-outlet>
