<div class="summary">
    <div *ngIf="!formDisplayed, else invoiceForm"><button (click)="onFormClosed(true)">Add Invoice</button></div>

    <ng-template #invoiceForm>
        <app-invoice-form (formClosed)="onFormClosed($event)"></app-invoice-form>
    </ng-template>


    Total Sales made is : {{details?.totalSales}} <a routerLink="/invoice/all">Get Details</a> <br> 
    Total Paid is : {{details?.totalPaid}} <a routerLink="/invoice/paid">Get Details</a><br>
    Total Pending is : {{details?.totalPending}} <a routerLink="/invoice/unpaid">Get Details</a>
</div>
<router-outlet></router-outlet>
